<section class="navbar">
  <div class="container">
    <div class="navbar__logo">
      <img src="assets/images/logo-wc.svg" alt="">
    </div>
    <h1 class="navbar__title">
      <img src="assets/images/leafsticker.svg" alt="">
      Mapa de huertas | Rosario
    </h1>
    <div class="navbar__cta">
      <a href="mailto:guillermina.tokman@warecloud.ar?subject=Conozco otra huerta!&body=Hola Guille, me gustaría agregar otra huerta orgánica que conozco:" target="
        _blank" rel="noopener noreferrer">
        ¡Agregá tu huerta!
      </a>
    </div>
  </div>

</section>